<header>
    <div class="h-center">
        <img
      class="logo-ml"
      src="./images/logo-mercado-liebre.svg"
      alt="Logo de MercadoLiebre"
    />
    <div class="searchbar">
        <input placeholder="Buscar..."></input>
      <button><i class="fas fa-search"></i></button>
    </div>
    <p class="slogan">
        <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta
        de crédito
    </p>
    </div>
    <br>
    <div class="flexnavs">
        <nav id="navbar" class="flexnavbar">
            <a href="./ofertas.html">Ofertas</a>
            <a href="./tiendas.html">Tiendas oficiales</a>
            <a href="./vender.html">Vender</a>
            <a href="./ayuda.html">Ayuda</a>
        </nav>
        <nav id="loginbar" class="flexnavbar">
            <a href="/register">Creá tu cuenta <i class="fas fa-id-card"></i></a>
            <a href="/login">Ingresá <i class="fas fa-sign-out-alt"></i></a>
            <a href="/carrito">Mis compras <i class="fas fa-shopping-basket"></i></a>
        </nav>
    </div>
    <br>
    <div class="icono burger-menu">
        <i class="fas fa-bars icono-grande"></i>
    </div>
</header>
<img class="banner" src="/images/img-home-banner.jpg" alt="">