<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/estilo-flex.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <!-- las tres partes separadas entre si -->
      <h1>TITULO</h1>

      <!-- links uno al lado del otro -->
      <nav class="navbar">
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
      </nav>
      <div class="boton-carrito">
        <!-- el enlace al carrito (agregar icono), centrado en este """"boton"""" -->
        <a href="#"><i class="fas fa-shopping-cart"></i></a>
      </div>
    </header>

    <main>
      <!-- a la izq la imagen, a la derecha los textos (que deberan estar alineados a la derecha) -->
      <section class="section-foto">
        <img src="https://picsum.photos/250/250" alt="" />
        <div class="div-foto">
          <h2>Subtitlo</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Dignissimos, odit, voluptates fugiat sint exercitationem unde animi
            ad vel quas sapiente consequatur. Sapiente dignissimos sequi a natus
            incidunt facilis quia libero!
          </p>
        </div>
      </section>

      <section class="container">
        <!-- cada articulo alineado al centro -->
        <article class="articulo">
          <!-- el titulo a la izq -->
          <h4 class="articulo-titulo">Titulo</h4>

          <!-- el small y el p al centro -->
          <small>precio</small>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum,
            ratione?
          </p>
        </article>

        <article class="articulo">
          <!-- el titulo a la izq -->
          <h4 class="articulo-titulo">Titulo</h4>

          <!-- el small y el p al centro -->
          <small>precio</small>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum,
            ratione?
          </p>
        </article>

        <article class="articulo">
          <!-- el titulo a la izq -->
          <h4 class="articulo-titulo">Titulo</h4>

          <!-- el small y el p al centro -->
          <small>precio</small>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum,
            ratione?
          </p>
        </article>
      </section>
    </main>
  </body>
</html>
